.App {
  text-align: center;
  
}

.ui.card.head_part{
  background-color: rgb(190, 189, 188);
 
}

.ui.content.test1 {
  background-color: #9decab;
}

#specific-id {
  font-size: 1.5rem;
}

.ui.card.gradient-custom-card {
  /* fallback for old browsers */
  background: #2d2d2e;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, rgba(62, 64, 64, 0.5), rgba(250, 241, 240, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(186, 186, 228, 0.5), rgba(250, 241, 240, 0.5))
}
